*{
    padding: 0px;
    margin: 0px;
    text-align: center;

}
h1{
    background-color: brown;
    color: white;
    height: srem;
    line-height: 5rem;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}
    .choice:hover{
        cursor: pointer;
    background-color: rgb(9, 9, 97);
    

}
.choice{
    width: 165px;
    height: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
height: 150px;
width: 150px;
object-fit: cover;
border-radius: 50%;
}

.user-score{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    height: 10rem;
}

.msg-container{
    margin-top:  70px;
}
#msg{
    background-color: rgb(51, 33, 67);
    color: white;
    display: inline;
    border-radius: 1 rem;
    font-size: 1.7rem;
    
}
.score-board{
    display: flex;
  justify-content: center;
    justify-items: center;
    gap: 70px;
    margin-top: 70px;

  
}


